* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.wrap {
  width: 100%;
  height: 100%;
}
.swiper-container1 {
  width: 100%;
  height: 100%;
}
.page1 {
  background: url("../img/bg1.jpg");
  background-size: 100% 100%;
}
.page2 {
  background: url("../img/bg2.jpg");
  background-size: 100% 100%;
}
.page2 .dimentionCode {
  width: 50%;
  height: 19%;
  background: url(../img/er_out.jpg);
  background-size: 100% 100%;
  position: absolute;
  top: 42%;
  left: 50%;
}
.page2 .dimentionCode img {
  width: 38%;
  position: absolute;
  top: 40%;
  left: 2.3%;
}
.page3 img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}
.page3 .page3_click_out {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
}
.page3 .page3_click_out .page3_click {
  width: 100%;
}
.page3 .page3_click_out .page3_click_1 {
  height: 14%;
}
.page3 .page3_click_out .page3_click_2 {
  height: 15%;
}
.page3 .page3_click_out .page3_click_3 {
  height: 13%;
}
.page3 .page3_click_out .page3_click_4 {
  height: 15%;
}
.page3 .page3_click_out .page3_click_5 {
  height: 14%;
}
.page3 .page3_click_out .page3_click_6 {
  height: 13%;
}
.page3 .page3_click_out .page3_click_7 {
  height: 16%;
}
.page3 .page3_swiper_out {
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}
.page3 .page3_swiper_out .swiper_key {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.page3 .page3_swiper_out .swiper_key .swiper-container {
  width: 100%;
  height: 100%;
}
.page3 .page3_swiper_out .swiper_key .back {
  position: absolute;
  width: 30%;
  height: 20%;
  top: 0;
  left: 0;
}
.page3 .page3_swiper_out .swiper_key .swiper-container2 .swiper-container2_1 {
  background: url("../img/z1_1.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container2 .swiper-container2_2 {
  background: url("../img/z1_2.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container3 .swiper-container3_1 {
  background: url("../img/z2_1.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container3 .swiper-container3_2 {
  background: url("../img/z2_2.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container4 .swiper-container4_1 {
  background: url("../img/z3_1.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container4 .swiper-container4_2 {
  background: url("../img/z3_2.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container5 .swiper-container5_1 {
  background: url("../img/z4_1.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container5 .swiper-container5_2 {
  background: url("../img/z4_2.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container6 .swiper-container6_1 {
  background: url("../img/z5_1.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container6 .swiper-container6_2 {
  background: url("../img/z5_2.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container7 .swiper-container7_1 {
  background: url("../img/z6_1.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container7 .swiper-container7_2 {
  background: url("../img/z6_2.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container8 .swiper-container8_1 {
  background: url("../img/z7_1.jpg");
  background-size: 100% 100%;
}
.page3 .page3_swiper_out .swiper_key .swiper-container8 .swiper-container8_2 {
  background: url("../img/z7_2.jpg");
  background-size: 100% 100%;
}
.page4 {
  background: url("../img/bg4.jpg");
  background-size: 100% 100%;
}
.page4 .page4_wrap {
  width: 100%;
  height: 70%;
  position: absolute;
}
.page4 .page4_wrap .page4_wrap_out {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100%;
}
.page4 .page4_wrap .page4_wrap_out #myCar {
  position: absolute;
  top: 10%;
}
.page4 .page4_wrap .page4_fh {
  font-size: 22px;
  color: #FFFFFF;
  background: url("../img/page4_fh_img.png") right no-repeat;
  width: 75px;
  position: absolute;
  right: 20px;
}
.page4 .page4_wrap .page4_btn_out {
  width: 100%;
  height: 34px;
  position: absolute;
  bottom: 0;
  font-size: 22px;
}
.page4 .page4_wrap .page4_btn_out .btn_360_out {
  width: 100%;
  height: 34px;
  text-align: center;
  display: none;
}
.page4 .page4_wrap .btn_360_out1 {
  display: block;
}
.page4 .page4_wrap .btn_360 {
  width: 149px;
  height: 34px;
  font-size: 17px;
  line-height: 34px;
  color: #e95301;
  font-weight: bold;
  display: inline-block;
  background: url(../img/page4_btn_bg.png) 0 0 no-repeat;
}
.page4 .page4_wrap .page4_wrap_in {
  top: 20%;
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}
.page4 .page4_wrap .page4_wrap_in .page4_ns {
  width: 640px;
  height: 551px;
  position: absolute;
  top: 10%;
}
.page4 .page4_wrap .page4_wrap_in .btn_360_nss_out {
  width: 100%;
  height: 34px;
  position: absolute;
  text-align: center;
  bottom: 0;
}
.page5 {
  width: 100%;
  height: 100%;
  background: url(../img/bg5.jpg);
  background-size: 100% 100%;
}
.page5 .yy_out {
  width: 450px;
  padding-top: 138px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  margin-left: -225px;
  background: url(../img/yy_bg.png) 0 0 no-repeat;
}
.page5 .yy_out .yy_ul {
  width: 100%;
  list-style: none;
}
.page5 .yy_out .yy_ul li {
  height: 37px;
  margin-bottom: 16px;
}
.page5 .yy_out .yy_ul .yy_text1 {
  width: 149px;
  height: 37px;
  padding-right: 10px;
  float: left;
  font-size: 18px;
  line-height: 37px;
  color: #fff;
  text-align: right;
}
.page5 .yy_out .yy_ul .yy_select1 {
  width: 231px;
  height: 37px;
  border: 1px solid #fff;
  float: left;
  font-size: 18px;
  line-height: 37px;
}
.page5 .yy_out .yy_ul .yy_text2 {
  width: 50px;
  height: 37px;
  padding-left: 8px;
  float: left;
  font-size: 18px;
  line-height: 37px;
  color: #fff;
  text-align: left;
}
.page5 .yy_out .yy_ul .yy_text3 {
  width: 102px;
  height: 37px;
  padding-right: 10px;
  float: left;
  font-size: 18px;
  line-height: 37px;
  color: #fff;
  text-align: right;
}
.page5 .yy_out .yy_ul .yy_select2 {
  width: 278px;
  height: 37px;
  border: 1px solid #fff;
  float: left;
  font-size: 18px;
  line-height: 37px;
}
.page5 .yy_out .yy_ul .yy_input1 {
  width: 278px;
  height: 37px;
  border: 1px solid #fff;
  float: left;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 37px;
}
.page5 .yy_out .yy_btn {
  width: 173px;
  height: 36px;
  font-size: 16px;
  color: #e95301;
  text-align: center;
  line-height: 36px;
  background: url(../img/yy_btn.png) 0 0 no-repeat;
  margin: 48px auto 0;
}
.up {
  width: 0.09rem;
  height: 0.06rem;
  background: url("../img/page_jt.png");
  background-size: 100% 100%;
  position: absolute;
  bottom: 4%;
  left: 45%;
  -webkit-animation: up 1s infinite;
}
@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(-3px);
  }
  60% {
    -webkit-transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
  }
}
.page4_mb_out {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 199;
  display: none;
}
.page4_mb_out .page4_img_out {
  width: 509px;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -254px;
}
.page4_mb_out .page4_img_out .page4_img {
  display: block;
  width: 509px;
  height: auto;
  box-sizing: border-box;
  border: 1px solid #fd7322;
}
.page4_mb_out .page4_img_out .page4_title {
  width: 100%;
  height: 29px;
  font-size: 29px;
  color: #fff;
  font-weight: bold;
  margin-top: 38px;
  margin-bottom: 24px;
}
.page4_mb_out .page4_img_out .page4_fenge {
  width: 499px;
  height: 6px;
  background: url(../img/page4_line.png) 0 0 no-repeat;
}
.page4_mb_out .page4_img_out .page4_text_title {
  width: 100%;
  height: 22px;
  color: #fd7322;
  margin-top: 13px;
  margin-bottom: 27px;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}
.page4_mb_out .page4_img_out .page4_text {
  width: 499px;
  line-height: 34px;
  font-size: 20px;
  color: #b2b2b2;
}
.page4_mb_out .page4_close {
  width: 43px;
  height: 43px;
  background: url(../img/page4_close.png) 0 0 no-repeat;
  position: absolute;
  right: 31px;
  top: 31px;
}
.sp_out {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 199;
}
.sp_out .sp {
  width: 580px;
  height: 326px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -290px;
  margin-top: -250px;
}
.sp_out .sp_close {
  width: 100px;
  height: 30px;
  position: absolute;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 15px;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: 150px;
}
.dh_out {
  width: 41px;
  height: 25px;
  background: url(../img/dh_btn.png) 0 0 no-repeat;
  position: absolute;
  top: 28px;
  right: 32px;
  z-index: 99;
}
.dh_mb_out {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  display: none;
}
.dh_mb_b_out {
  width: 189px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 20;
}
.dh_ul {
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 100px;
  clear: both;
}
.dh_ul li {
  width: 100%;
  height: 45px;
}
.dh_mb_close {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.dh_dian {
  width: 8px;
  height: 8px;
  float: right;
  border-radius: 4px;
  background: #FFFFFF;
  margin-top: 15px;
  margin-right: 32px;
}
.dh_text {
  float: right;
  margin-right: 13px;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 45px;
}
/*# sourceMappingURL=index.css.map */
